/* Made by Dem0niaX*/

html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
}

a {
	text-decoration: none;
}
.dropdown-item:hover {
	background-color: #769de8; 
}

.red-box {
	border: 1px solid #CC0000;
	color: white;
	background: #e53935;
}

.btn {
	background-color: white;
	color: black;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.btn-secondary {
	background-color: white;
	color: black;
}

.btn-secondary, .btn-secondary.focus, .btn-secondary.hover, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #23272a;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mt-2, .my-2 {
    margin-top: 8px !important;
    margin-top: .5rem !important;
}

btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}